# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

Source: chromeos-assets
Section: unknown
Priority: extra
Maintainer: The Chromium OS Authors <chromium-os-dev@googlegroups.com>
Build-Depends: debhelper (>= 7.0.50)
Standards-Version: 3.8.0

Package: chromeos-assets
Architecture: all
Depends:
Description: Chrome OS platform assets
 Platform assets such as default background, etc.
